body {
  padding: 5em 4em 0 4em;
  max-width: 45em;
  color: #222;
  font-family: Georgia, FreeSerif, Times, serif;
}
@media screen and (min-width: 50em) {
  body {
  }
}
@media screen and (max-width: 50em) {
  body {
  }
}
h1, h2, h3, h4 {
  color: black;
}
h1 {
  font-size: 250%;
}
h2 {
  font-size: 200%;
}
h3 {
  font-size: 120%;
}
h4 {
  font-size: 100%;
}
code {
  background-color: #f8f8f8;
  display: block;
  padding: 1em;
  border: #ddd solid;
  border-width: 1px 1px 1px 0.5em;
  margin: 1em 0 1em 0;
  white-space: pre;
}
hr {
  border: 1px solid #ddd;
  border-width: 1px 0 0 0;
  margin: 2em 0 2em 0;
}
.object {
  margin-top: 1em;
  padding-top: 1em;
}
.inheritance {
  font-size: 0.5em;
  margin-left: 2em;
}
a {
  color: #0000ff;
}
a:visited {
  color: #cc33cc;
}
a.link {
  float: right;
  text-decoration: none;
  color: #888;
}
a.link:hover {
  color: #c22;
  text-decoration: underline;
}
